 /* for the old browsers */
* {
	margin: 0px;
	padding: 0px;
}
header, section, footer, aside, nav, article, hgroup{
	display: block;
}
/* for the old browsers */
body {
	font-family: Arial, sans-serif;
	font-size: 100%;
}
/* HEADER */
.header {
	background: #696969; /* сірий */
	bottom: 0;
	left: 0;
	padding: 7px 0;
	right: 0;
	text-align: center;
	height: 60px;
	position: relative;
}
		/* NAVIGATION */
.page-navigation {
	border-color: #f1f1f1;
	margin: 10px; /* відступи між наз. меню  */
}
.page-navigation li {
	float: left;
	width: 100px;
	list-style: none; /* забрали маркери */
}
.page-navigation a {
	display: block;
	line-height: 2em;
	font-weight: bold;
	text-align: center;
}
a {
	color: white; 
}
a:hover {
	color: #0087cc;
}

#main {
	height: 570px;
	text-align: center;
	background-size: cover;
}
/* LEFT */
.aside {
	float: left;
	width: 50%;
	height: 570px;
	overflow: hidden;
	text-align: center;
	font-size: 16px;
	background-color: #F5F5F5;
}

.block1 {
	background: wait; /* колір фону */
	border: 1px dashed wait; /* параметри рамки */
	padding: 20px; /* поля навколо тексту */
	margin-top: 10%; /* відступ зверху */
}
figure {
	background: #d9dabb;
	display: block;
	width: 100%;
	height: 100;
	text-align: center;
	
}
figure img {
	width: 40%;
	margin: 5% 0 0 0;
	border: 7px solid white;
}
figure p {
	margin-bottom: 10px;
}
/* RIGHT */
.article {
	width: 50%;
	height: 570px;
	background-color: #F5F5F5;
	overflow: hidden;
	text-align: left;
	font: 14px/24px "Courier New", Courier;
	font-size: 25px
}
.block2 {
	background: wait; /* колір фону */
	border: 1px dashed white; /* параметри рамки */
	padding: 20px; /* поля навколо тексту */
	margin-top: 10%; /* відступ зверху */
}
img {
	margin-top: 10%;
	margin-right: 10%;
}
/* FOOTER */
.footer {
	background: #696969;
	float: left;
	bottom: 0;
	left: 0;
	padding: 10px 0;
	position: fixed;
	right: 0;
	text-align: center;
}