 /* for the old browsers */
* {
	margin: 0px;
	padding: 0px;
}
header, section, footer, aside, nav, article, hgroup{
	display: block;
}
/* for the old browsers */
body {
  font: 600 22px/24px "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", Sans-Serif;
}
								/* HEADER */
.header {
	background: #696969; /* сірий */
	bottom: 0;
	left: 0;
	padding: 7px 0;
	right: 0;
	height: 60px;
	position: relative;
}
								/* NAVIGATION */
.page-navigation {
	border-color: #f1f1f1;
	margin: 10px; /* відступи між наз. меню  */
}
.page-navigation li {
	float: left;
	width: 100px;
	list-style: none; /* забрали маркери */
}
.page-navigation a {
	display: block;
	line-height: 2em;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
}
a {
	color: white; 
}
a:hover {
	color: #0087cc;
}

#main {
	height: 570px;
	text-align: center;
	background-size: cover;
}
									/* LEFT */
.aside {
	float: left;
	width: 50%;
	height: 570px;
	overflow: hidden;
	text-align: center;
	background-color: #F5F5F5;
	font-size: 32px;

}
.card-container {
	cursor: pointer;
	height: 650px;
	perspective: 600;
	position: relative;
	width: 650px;
	margin-top: 50px;
}
.card {
	height: 100%;
	position: absolute;
	transform-style: preserve-3d;
	transition: all 1s ease-in-out;
	width: 100%;
}
.card:hover {
	transform: rotateY(180deg);
}
.card .side {
	backface-visibility: hidden;
	border-radius: 2px;
	height: 100%;
	position: absolute;
	overflow: hidden;
	width: 100%;
}
.card .back {
	background: #F5F5F5;
	color: #0087cc;
	line-height: 550px;
	text-align: center;
	transform: rotateY(180deg);
}
										/* RIGHT */
article {
	width: 50%;
	height: 570px;
	background-color: #F5F5F5;
	overflow: hidden;
}
.block2 {
	background: wait; /* колір фону */
	border: 1px dashed white; /* параметри рамки */
	margin-top: 10%; /* відступ зверху */ 
}
.fontblue {
	font-family: Arial, sans-serif;
	text-align: left;
	color: #CD3333;
}
h4 {
	color: #CD3333;
}
p {
	font:  22px/24px "Courier New", Courier;
	padding: 10px; /* поля навколо тексту */
	color: #808080;
	text-align: left;
}
.like {
	width: 50px;
	margin-top: 10%;
}
											/* FOOTER */
.footer {
	background: #696969;
	float: left;
	bottom: 0;
	left: 0;
	padding: 10px 0;
	position: fixed;
	right: 0;
	text-align: center;
	color: #0087cc;
}